/*
Resets
*********************/

	html, body, div, span, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	abbr, address, cite, code,
	del, dfn, em, img, ins, kbd, q, samp,
	small, strong, sub, sup, var,
	b, i,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, figure, footer, header, 
	hgroup, menu, nav, section, menu,
	time, mark, audio, video {
		margin:0;
		padding:0;
		border:0;
		outline:0;
		font-size:100%;
		vertical-align:baseline;
		background:transparent;
		-webkit-text-size-adjust: none;
	}
	
	html {
		overflow-y: scroll;
	}

  /** Base Fonts and Legibility **/

		body, select, input, textarea { color:#444; }

  /** Block Elements **/

		article, aside, figure, footer, header, 
		hgroup, nav, section, blockquote, nav ul, nav ul li, div { display:block; }


  /** List Styles **/

		nav ul { list-style:none; }

		ol { list-style-type: decimal; }

		ul { list-style-type: disc; }

  /** Quotes **/

		blockquote, q { quotes:none; }

		blockquote:before, blockquote:after,
		q:before, q:after { content:''; content:none; }

  /**  Anchors **/

		a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration: none; outline: none;}


	/** Inline Elements **/

		ins { background-color:#ff9; color:#000; text-decoration:none; }

		mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

		del { text-decoration: line-through; }

		abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

		sub { vertical-align: sub; }

		sup { vertical-align: super; }

		strong { font-weight: bold; }

  /** Tables **/

		table { border-collapse:collapse; border-spacing:0; }

		td, td img { vertical-align:top; } 

  /** Horizontal Rule **/

		hr { display:block; margin:0; padding:0; }

  /** Forms and Inputs **/

		button {  width: auto; overflow: visible; }

		input, select { vertical-align:middle; }

		select, input, textarea { outline:none; }

		input[type="radio"] { vertical-align: text-bottom; }

		input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }

		label, input[type=button], input[type=submit], button { cursor: pointer; }

  /** Monospaced Elements **/

		pre, code, kbd, samp { font-family: monospace, sans-serif; }

		pre {
			/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
			white-space: pre; /* CSS2 */
			white-space: pre-wrap; /* CSS 2.1 */
			white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
			word-wrap: break-word; /* IE */
		}

  /** Header **/

		h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }

  /** Images **/

		.ie7 img { -ms-interpolation-mode: bicubic; }

/*********************
Helper Classes
*********************/
  
  .block{
		display: block;  	
	}

  /** Floats **/

		.left{ float: left; }

		.right{ float: right; }

		.clear{ clear: both; }

  /** Hiders **/

		.ir { display:block; text-indent:-9999em; overflow:hidden; background-repeat: no-repeat; }

		.hide { display:none; visibility:hidden; } 

		.visually-hide {
			position:absolute !important;    
			clip: rect(1px 1px 1px 1px);
			clip: rect(1px, 1px, 1px, 1px);
		}

		.invisible { visibility: hidden; }

  /** Clearfix **/

		.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

		.clearfix { display: inline-block; }

		.clearfix { display: block; }

  /** Auto Clearfix **/

		.no-generatedcontent article, .no-generatedcontent aside, .no-generatedcontent figure, .no-generatedcontent footer, .no-generatedcontent header, 
		.no-generatedcontent hgroup, .no-generatedcontent nav, .no-generatedcontent section, .no-generatedcontent blockquote, .no-generatedcontent nav ul, .no-generatedcontent div.field {
			display: inline-block;
		}

		article:after, aside:after, figure:after, footer:after, header:after, 
		hgroup:after, nav:after, section:after, blockquote:after, nav ul:after, div.field:after{
			content: "."; display: block; height: 0; clear: both; visibility: hidden; line-height: 0; margin: 0; padding: 0;
		}
		
		.no-clear:after, .no-clear{
			content: none;
			clear: none;
		}
